* {
  margin: 0;
  padding: 0; 
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: var(--base-color);
  color: #ffffffcc;
}

header,
main,
footer {
  max-width: 700px;
  margin: 0 auto;
  padding: 5rem;
}


header {
  margin-top:6rem;
  padding-bottom: 2rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #00000011;
}
main {
  padding-top: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #00000011;
}
footer {
  margin-top:2rem;
  font-size: 0.9rem;
  color: #ffffff99;
}


h1 {
  font-size: 3rem;
  line-height: 1.1;
  color:#ffffff;
}

p {
  margin: 0.4rem 0 1rem;
}

header p {
  font-style: italic;
  margin:0;
}

.cta {
  margin-top: 4rem;
  margin-bottom: 0;
}

.answer {
  display: block;
  font-size: 5em;
}

a:link,
a:visited {
  color: #ffffffee;
  font-weight: bold;
  text-decoration-color: #ffffff66;
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration-color: #ffffff;
}

input[type=text] {
  border: solid 3px #fff;
  color: #fff;
  background-color: #ffffff11;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding:1rem 1rem;
  width: 80%;
  box-shadow: 0 0 20px #ffffff33;
  margin: 2px;
}

input[type=text]:focus {
  border: solid 5px #fff;
  margin: 0;
  box-shadow: 0 0 20px #ffffff99;
  outline: none;
}

input[type=submit] {
  border: solid 3px #fff;
  color: #4a3352cc;
  background-color: #ffffff66;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  padding:1rem 1rem;
  box-shadow: 0 0 20px #ffffff33;
  margin: 2px;
}
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #fff;
  color: #4a3352;
  cursor: pointer;
  outline: none;
}


::-webkit-input-placeholder { 
  color: #ffffff33;
}
::-moz-placeholder { 
  color: #ffffff33;
}
:-ms-input-placeholder {
  color: #ffffff33;
}
:-moz-placeholder {
  color: #ffffff33;
}