<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Can you tell me...?</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta property="og:title" content="Can you tell me...?">
  <meta property="og:site_name" content="CanYouTell.me">
  <meta property="og:url" content="https://canyoutell.me">
  <meta property="og:description" content="Can you tell me... the answers to my pressing questions?">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://canyoutell.me/img/og/default.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://canyoutell.me">
  <meta property="twitter:title" content="Can you tell me...?">
  <meta property="twitter:description" content="Can you tell me... the answers to my pressing questions?">
  <meta property="twitter:image" content="https://canyoutell.me/img/og/default.png">
  </head>
</head>
<body>
  <header>
    <p>
      Answering those difficult questions
    </p>
    <h1>🤔 Can you tell me...</h1>
  </header>
  <main>
    <form action="/ask/" method="POST" name="ask">
      <input type="text" name="question" placeholder="something I need clarity on..." />
      <input type="submit" value="?" />
    </form>  
  </main>
  <footer>
    <p>
      Made by <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a> because we all need these answers.
    </p>
    <p>
      (And as a little demonstration of <a href="https://jamstack.org/glossary/dpr/">DPR</a> using <a href="https://www.netlify.com/">Netlify</a>'s <a href="https://www.netlify.com/blog/2021/04/14/faster-builds-for-large-sites-on-netlify-with-on-demand-builders-now-in-early-access/#main">On Demand Builder</a> functions)
    </p>
    <p>
      Explore the code, and create your own version of the site to exoperiment with in a couple of clicks from the <a href="https://github.com/philhawksworth/canyoutell.me">GitHub repository</a>
    </p>
  </footer>
</body>
</html>